.my-text{
    padding: 0.5rem;
    font-size:1.15em;
}
.my-view{
    margin-left: 15px;
}
.my-section{
    padding: 0.5rem;
    margin-left: 15px;
}
.my-text2{
    font-size:1.15em;
}
.my-picker{
    font-size:1.15em;
    margin-top:0.5rem;
   
}
.my-name{
    text-align:right;
    color: slategrey;
    margin-top:0.5rem;
}
.pay-bottom{
    background-color: whitesmoke;
    position: fixed;
    bottom:0;
    width:100%;
}