.my-pad{
    background-color: oldlace;
}
.my-div{
    padding:0.2rem;
}
.my-imgdiv{
    padding:0.5rem;
}
.my-img {
    
    width: 200px;
    height: 200px;
    }
.my-info {
    padding:1rem;
        }
.my-priceAndCount {
    margin-top: 70px;
            }        
.my-price{
    margin-right: 50px;
}
.my-count{
    margin-right: 40px;
    margin-left: 40px;
}
.my-bottom{
    background-color: whitesmoke;
    position: fixed;
    bottom:0;
    width:100%;
    margin-bottom: 125px;
}
.my-air{
    height: 150px;
}
.my-sum{
    text-align:center;
    margin-top: 25px;
    font-size:0.85em;
}  
.my-tips{
    text-align:center;
    margin-top: 50px;
}
                                           