.good-card{
  height: 800px;
  }
.my-view {
  text-align: center;
    background-color: whitesmoke;
    padding: 0.5rem;
    }
.my-img {
      height: 650px;
      width:  650px;
      background-color: whitesmoke;
      }