.my-icon{
    padding: 0.5rem;
}
.my-pad{
    background-color: whitesmoke;
}
.my-div{
    padding:0.2rem;
}
.my-imgdiv{
    padding:0.5rem;
}
.my-img {
    
    width: 100px;
    height: 100px;
    }
.my-info {
    padding:0.5rem;
        }
.my-priceAndCount {
    margin-top: 0px;
            }    
.my-count{
    font-size:35px;
    margin-left: 250px;
}                
.my-price{
    margin-right: 50px;
    margin-top: 30px;
}
.my-sum{
    margin-left: 30px;
    margin-right: 100px;
}